adal
ansible-core
applicationinsights
argcomplete
azure-common
azure-core
azure-servicefabric
bcrypt
certifi
cffi
charset-normalizer
colorama
cryptography
distlib
enum34
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
future
idna
isodate
Jinja2
jmespath
joblib
knack
lxml
MarkupSafe
msrest
msrestazure
mssql-scripter
mysql-connector-python
oauthlib
platformdirs
portalocker
psutil
pycparser
Pygments
PyJWT
pyodbc
pytest
python-dateutil
PyYAML
requests
requests-oauthlib
resolvelib
sfctl
six
SQLAlchemy
tabulate
tqdm
typing_extensions
urllib3
virtualenv
Werkzeug
yamlloader