adal
alembic
ansible-core
applicationinsights
argcomplete
Authlib
azure-common
azure-core
azure-identity
azure-keyvault-secrets
azure-servicefabric
azure-storage-blob
bcrypt
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
Cython
docker
docker-image-builder
docker-run-build
docker-run-cmd
dockerfile-requirements
distlib
enum34
fastapi
filelock
Flask
Flask-Azure-Storage
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Register
Flask-SQLAlchemy
Flask-WTF
forex-python
future
google-auth
google-auth-httplib2
google-auth-oauthlib
graphql-core
graphql-server-core
graphql-env
graphql_client
greenlet
grpcio
h11
httplib2
httptools
idna
importlib-metadata
importlib-resources
isodate
itsdangerous
Jinja2
jmespath
joblib
knack
lxml
Mako
MarkupSafe
msal
msal-extensions
msrest
msrestazure
mssql-scripter
oauthlib
packaging
paypalrestsdk
Pillow
platformdirs
portalocker
psutil
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
Pygments
PyJWT
pyodbc
pyOpenSSL
pyparsing
pytest
python-dateutil
python-dotenv
PyYAML
requests
requests-oauthlib
resolvelib
rsa
setuptools
sfctl
six
SQLAlchemy
starlette
stripe
tabulate
tqdm
typing_extensions
urllib3
uvicorn
virtualenv
watchfiles
websockets
Werkzeug
WTForms
yamlloader
zipp
