adal
ansible-core
applicationinsights
argcomplete
azure-common
azure-core
azure-servicefabric
certifi
cffi
charset-normalizer
colorama
cryptography
distlib
enum34
filelock
future
idna
isodate
Jinja2
jmespath
joblib
knack
lxml
MarkupSafe
msrest
msrestazure
mssql-scripter
oauthlib
platformdirs
portalocker
psutil
pycparser
Pygments
PyJWT
pytest
python-dateutil
PyYAML
requests
requests-oauthlib
resolvelib
sfctl
six
tabulate
tqdm
typing_extensions
urllib3
virtualenv
yamlloader
