    <footer id="footer" class="footer">
        <div id="divFooter" class="divFooter">
            <i class="fa-brands fa-paypal" data-type="linkbtn"><link class="link1"href=""></link></i>
            <i class="fa-brands fa-telegram" data-type="linkbtn"><link class="link2" href=""></link></i>
            <i class="fa-brands fa-google" data-type="linkbtn"><link class="link3" href=""></link></i>
            <i class="fa-brands fa-x" data-type="linkbtn"><link href="" class="link4"></link></i>
            <i class="fa-brands fa-facebook" data-type="linkbtn"><link class="link5" href=""></link></i>
            <i class="fa-brands fa-discord" data-type="linkbtn"><link class="link6" href=""></link></i>
            <i class="fa-brands fa-linkedin" data-type="linkbtn"><link class="link7" href=""></link></i>
            <i class="fa-brands fa-apple" data-type="linkbtn"><link class="link8" href=""></link></i>
            <i class="fa-brands fa-microsoft" data-type="linkbtn"><link class="link9" href=""></link></i>
        </div>
    </footer>